# Dependencies
node_modules/
*venv/
__pycache__/
sokoweb-venv/
env/
# Environment files
.env
.env.local

# IDE files
.vscode/
.idea/

# Build outputs
dist/
build/
*.pyc
*.egg-info/
*.pyc/
__pycache__/
.pytest_cache/
pytest.init
.coverage
# Log files
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

#Some files
api.py
auth.py
cli.py
credit_manager.py
mpesa.py
